<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">	
  <title>About Varsity Tutors</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,900|Georgia:200,300,600|Lato:400" rel="stylesheet" type="text/css">
</head>
<body class="<%= body_class %>">
	<%= render "shared/header" %>
	<section class="page">
    <div id="tagline">Award Winning Academic Tutoring & Test Prep</div>
		<div class="page-container container">
      <%= render "shared/floating_contact" %>
    		<div class="main">
      			<div class="main-inner">
        			<%= yield %>
      			</div>
    		</div>
  		</div>
	</section>
    <%= render "shared/footer" %>
</body>
</html>
